<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meipingmi.domain.order.mapper.LogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.meipingmi.domain.order.entity.LogDO">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="delete_time" property="deleteTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="valid" property="valid" />
        <result column="version" property="version" />
        <result column="businessuserid" property="businessuserid" />
        <result column="type" property="type" />
        <result column="content" property="content" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, delete_time, modify_time, valid, version, businessuserid, type, content
    </sql>

</mapper>
