<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meipingmi.domain.order.mapper.OrdersdetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.meipingmi.domain.order.entity.OrdersdetailDO">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="delete_time" property="deleteTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="valid" property="valid" />
        <result column="version" property="version" />
        <result column="attrname" property="attrname" />
        <result column="name" property="name" />
        <result column="num" property="num" />
        <result column="ordernum" property="ordernum" />
        <result column="piclogo" property="piclogo" />
        <result column="price" property="price" />
        <result column="ptype" property="ptype" />
        <result column="total" property="total" />
        <result column="userid" property="userid" />
        <result column="attr_id" property="attrId" />
        <result column="order_id" property="orderId" />
        <result column="product_id" property="productId" />
        <result column="traproduct_id" property="traproductId" />
        <result column="returngoods_id" property="returngoodsId" />
        <result column="cash" property="cash" />
        <result column="logistics" property="logistics" />
        <result column="commission" property="commission" />
        <result column="originalprice" property="originalprice" />
        <result column="lpid" property="lpid" />
        <result column="rush_id" property="rushId" />
        <result column="discount_id" property="discountId" />
        <result column="appversion" property="appversion" />
        <result column="mixsale_id" property="mixsaleId" />
        <result column="mixsale_price" property="mixsalePrice" />
        <result column="packsale_id" property="packsaleId" />
        <result column="plan" property="plan" />
        <result column="plat_couponuser" property="platCouponuser" />
        <result column="busi_couponuser" property="busiCouponuser" />
        <result column="plat_amount" property="platAmount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, delete_time, modify_time, valid, version, attrname, name, num, ordernum, piclogo, price, ptype, total, userid, attr_id, order_id, product_id, traproduct_id, returngoods_id, cash, logistics, commission, originalprice, lpid, rush_id, discount_id, appversion, mixsale_id, mixsale_price, packsale_id, plan, plat_couponuser, busi_couponuser, plat_amount
    </sql>

</mapper>
