<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meipingmi.domain.order.mapper.OrdersMapper">
    <!--
    <cache type="org.mybatis.caches.redis.RedisCache" />
    -->
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.meipingmi.domain.order.entity.OrdersDO">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="delete_time" property="deleteTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="valid" property="valid" />
        <result column="version" property="version" />
        <result column="autoconfirm" property="autoconfirm" />
        <result column="businessid" property="businessid" />
        <result column="carriage" property="carriage" />
        <result column="ip" property="ip" />
        <result column="memo" property="memo" />
        <result column="openid" property="openid" />
        <result column="ordernum" property="ordernum" />
        <result column="price" property="price" />
        <result column="receivetime" property="receivetime" />
        <result column="sendtime" property="sendtime" />
        <result column="shopid" property="shopid" />
        <result column="status" property="status" />
        <result column="time" property="time" />
        <result column="userid" property="userid" />
        <result column="address_id" property="addressId" />
        <result column="businessname" property="businessnameA" />
        <result column="originalprice" property="originalprice" />
        <result column="suporder_id" property="suporderId" />
        <result column="type" property="type" />
        <result column="new_receive_time" property="newReceiveTime" />
        <result column="order_version" property="orderVersion" />
        <result column="busmemo" property="busmemo" />
        <result column="remark" property="remark" />
        <result column="delay_days" property="delayDays" />
        <result column="originalcarriage" property="originalcarriage" />
        <result column="payordernum" property="payordernum" />
        <result column="payprice" property="payprice" />
        <result column="meal_id" property="mealId" />
        <result column="appversion" property="appversion" />
        <result column="plat_couponuser" property="platCouponuser" />
        <result column="plat_amount" property="platAmount" />
        <result column="busi_couponuser" property="busiCouponuser" />
        <result column="busi_amount" property="busiAmount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time, delete_time, modify_time, valid, version, autoconfirm, businessid, carriage, ip, memo, openid, ordernum, price, receivetime, sendtime, shopid, status, time, userid, address_id, businessname, originalprice, suporder_id, type, new_receive_time, order_version, busmemo, remark, delay_days, originalcarriage, payordernum, payprice, meal_id, appversion, plat_couponuser, plat_amount, busi_couponuser, busi_amount
    </sql>

    <select id="selectByName2" resultType="com.meipingmi.domain.order.entity.OrdersDO" useCache="false">
        SELECT
        <include refid="Base_Column_List" />
        FROM orders where id = 4
    </select>

</mapper>
